ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f3f3f3;
    width: 100%;
  }

li {
    float: left;
}

.nav-item {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
    width: 100px;
}


.nav-item:hover {
    background-color:#ccdbe0;
}

@media (max-width: 293px) {
    li {
        width: 100%;
    }

    li a {
        width: 100%;
    }
} 

.active-nav-item {
    background-color: #c3d8ba!important;
}